.b--form-select-b{
    position:relative;
    &::after{
        content: "";
        width: 0;
        height: 2px;
        background-color: map-get($color-options, a);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width $time-a ease-in-out;
    }
    &:focus-within::after{
        width: 100%;
    }
    &__item{
        @include make-input-b(
            $colortext: a,
            $colorborder: a,
            $padding: $measure * 1.5 $measure * 2,
            $fontSize: 1rem
        );
    }
    &__artwork{
        width: 1em;
        height: 1em;
        position: absolute;
        top: 50%;
        right:0;
        transform: translate(-16px,-50%);
        cursor: pointer;
        path{
            fill: map-get($color-options, d);
        } 
    }
    &--error{
        &::after{
            width: 100%;
            background-color: map-get($color-options, c);
        }
        & ~ .b--form-error-a{display:block!important} 
    }
    
}