.b--form-input-icon-a{
    position:relative;
    &__item{
        @include make-generic-input(
            $colortext: a,
            $colorbg: i, 
            $colorborder: a,
            $padding: $measure*1.5 $measure*2,
            $fontSize:1rem );
        
        &:focus,  &:not(:placeholder-shown){
            @include make-generic-input-interaction($colortext: a);
        }
    }
    &__artwork{
        width: 1em;
        height: 1em;
        position: absolute;
        top: 50%;
        right:0;
        transform: translate(-16px,-50%);
        cursor: pointer;
        path{
            fill: map-get($color-options, a);
        } 
    }
    
    &--error{
        input{border:1px solid map-get($color-options, c);}
        & ~ .b--form-error-a{display:block!important}
    }
}