.b--form-input-a{
    position:relative;
    &__item{
        @include make-generic-input(
            $colortext: a,
            $colorbg: i, 
            $colorborder: b,
            $padding: $measure*1.5 $measure*2,
            $fontSize:1rem );
        &:focus,  &:not(:placeholder-shown){
            @include make-generic-input-interaction($colortext: a);
        }
    }
    &--error{
        input{border: 1px solid map-get($color-options, c)!important;}
        & ~ .b--form-error-a{display:block!important}
    }
}