@mixin make-link-a($colortext) {
    color: map-get($color-options, $colortext);
    opacity: 1;
    transition: all $time-a ease-in-out;
    text-decoration: none;
}

@mixin make-link-a-interaction($colortext){
    opacity: 0.8;
    color: gba(map-get($color-options, $colortext), .7);
    text-decoration: underline;
}

@mixin make-link-b($colortext) {
    display: inline-block;
    text-decoration: none;
    color: map-get($color-options, $colortext);
    transition: all $time-a ease-in-out;
}

@mixin make-link-b-interaction(){
    text-decoration: underline;
}