@mixin make-scrollbar ($color, $colorbg, $width, $paddingright, $maxheight){
    overflow-y: auto;
    max-height: $maxheight;
    padding-right: calc(#{$width} + #{$paddingright});
    scrollbar-color: map-get($color-options, $color) map-get($color-options, $colorbg); // scrollbar color firefox 
    scrollbar-width: thin; // scrollbar width firefox 
    /* width */
    &::-webkit-scrollbar {
        width: $width;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: none;
        background: map-get($color-options, $colorbg);
        border-radius: $border-radius-a;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: map-get($color-options, $color);
        border-radius: $border-radius-a;
    }
}