.b--modal-a{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: all $time-a ease-in-out;
    width: 50%;
    height: 85%;
    background-color: map-get($color-options, f);
    padding: $measure*4;
    border-radius: 5px;
    border: 2px solid rgba(map-get($color-options, a), .4);
    overflow: hidden;
    @media all and($viewport-type: $tabletp) {
        width: 80%;
        padding: $measure*2;
    }
    &__btn{
        position: absolute;
        top: $measure*4;
        right: $measure*4;
        color: map-get($color-options, a);
        &__icon{
            color: map-get($color-options, a);
            height: 1rem;
            // i explorer
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                width: 1rem;
            }
            path {
                fill: map-get($color-options, a);
            }
        }
    }
    &--is-active{
        visibility: visible;
        opacity: 1;
    }
}
 
//backdrop-modal
.b--modal-backdrop-a{
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(map-get($color-options, a), .7);
}