@mixin paragraphs() {
  p {
    @include make-font-e(300);
    margin-bottom: $measure * 3;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
}

@mixin paragraphs-color($_color-a) {
  p {
    color: $_color-a;
  }
}
