@mixin block-cta-hubspot() {
  .cta_button {
    background: map-get($color-options, b);
    text-decoration: none;
    display: block;
    padding: $measure * 3 $measure * 7;
    margin-bottom: $measure * 3;
    border-radius: $border-radius-a;
    @include make-font-e(300);
    @media all and ($viewport-type: $tabletp) {
      padding: $measure * 3;
    }
  }
}
