.b--card-a {
  display: block;
  text-decoration: none;
  padding: $measure * 8;
  margin-bottom: $measure * 4;
  transition: background-color $time-a ease-in-out;
  &__media-wrapper {
    margin-bottom: $measure * 2;
    @include make-ar-a(56.25%);
    &__media {
      @include make-ar-a-item__img();
    }
  }
  &__bd {
    &__title {
      margin-bottom: $measure * 2;
      @include make-font-c(300);
      color: map-get($color-options, a);
    }
    &__content {
      @include make-font-e(300);
      color: map-get($color-options, a);
    }
  }
}
