.b--card-h {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  &__item-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $measure * 6 $measure * 2 $measure * 6 0;
    &__title {
      @include make-font-b(300);
      margin-bottom: $measure * 4;
    }
    &__content {
      @include make-font-e(300);
      margin-bottom: $measure * 2;
    }
    &__btn {
      width: fit-content;
      margin-bottom: $measure * 4;
      pointer-events: all;
    }
    &__date {
      @include make-font-e(300);
    }
  }
  &__item-right {
    width: 40%;
    padding: $measure * 4 0;
    &__media {
      display: block;
    }
  }
}
