.b--card-b {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: map-get($color-options, f);
  margin: 0 0 $measure * 6 0;
  transition: all $time-a ease-in-out;
  &__back-items {
    @include make-layer-absolute();
    transform: scale(1);
    transition: all $time-a ease-in-out;
    z-index: 0;
    &__media {
      min-width: 100%;
      min-height: 100%;
    }
  }
  &__front-items {
    position: relative;
    background-color: rgba(map-get($color-options, a), 0.5);
    padding: $measure * 4;
    z-index: 1;
    &__bd {
      margin-bottom: $measure * 4;
      &__title {
        color: map-get($color-options, f);
        @include make-font-d(300);
        margin-bottom: $measure;
      }
      &__content {
        color: map-get($color-options, f);
        @include make-font-e(300);
      }
    }
    &__ft {
      &__text {
        @include make-font-e(300);
        color: map-get($color-options, f);
        &__link {
          color: map-get($color-options, e);
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &:focus,
  &:hover {
    .b--card-b__back-items {
      transform: scale(1.2);
    }
  }
}
